.repo-list small {
  font-size: 0.75em;
}

ul.repo-list {
  padding: 0;
  list-style-type: none;
}

.repo-list li {
  cursor: pointer;
  list-style-type: none;
  font-size: 1.25em;
  font-weight: 600;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}

.repo-list li.active {
  background: #f8f8f8;
}

.repo-list li span {
  padding-left: 0.5em;
  font-size: 0.75em;
  font-weight: 400;
}

.repo-list li .trigger {
  opacity: 0;
  color: #2882f9;
  transition: opacity 0.2s ease;
}

.repo-list li.active .trigger {
  color: #666666;
}

.repo-list li:hover .trigger {
  opacity: 1;
}
