.app-wrapper {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
}

/*
 * In "detail" mode the header should collapse to a standard
 * nav bar at the top of the page but retail all from when
 * there is no data.
 */
.app-wrapper.detail {
  grid-template-rows: auto 1fr;
  grid-auto-rows: max-content;
}

.app-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #333333;
  color: white;
  padding: 1em;
}

/*
 * In "detail" mode the header content should shrink and
 * stick to opposite ends of the page.
 */
.app-nav.detail {
  flex-direction: row;
  justify-content: space-between;
}

.app-header {
  max-width: 400px;
}

.app-header.detail p {
  display: none;
}

.app-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2.25em;
  font-weight: 600;
  cursor: pointer;
}

.app-title.detail {
  font-size: 1.25em;
}

.app-detail {
  margin: 1em;
}
